body {
    background: #222222;
    color: white;
    font-family: 'Segoe UI';
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: #a4a4a4;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color: white;
}

/* -- DIV Panels -- */

div.heading-main, div.heading-section {
    background: #2c2c2c;
    padding: 12px 15px;
    overflow: hidden;
}

    div.heading-main #gotobottom {
        padding: 3px 0;
        float: right;
        text-decoration: none;
    }

div#test_step_summary_container {
    padding: 15px;
}

a.description_failedteststep {
    color: indianred;
}

div.teststep, div.testrundetails {
    padding: 3px 0;
}

/* -- Tables -- */

table.summary td, table.summary th {
    border: solid 1px #222222;
}

table.summary {
    width: 100%;
    border-collapse: collapse;
}

table.results {
    border-collapse: collapse;
}

/* -- Table Rows -- */

tr.heading {
    font-size: small;
    background: #464646;
    padding: 5px 10px;
    text-align: left;
}

/* -- Table Headers -- */

th.heading {
    font-size: small;
    background: #3b3b3b;
    padding: 5px 10px;
    text-align: left;
}

/* -- Table Cells -- */

td.teststep {
    font-size: small;
    padding: 5px;
    background: #4a4a4a;
    border: solid 1px #222222;
    text-transform: uppercase;
}

td.valuepass {
    font-size: small;
    background: #387938;
    padding: 5px 15px;
    text-align: left;
}

td.valuefail {
    font-size: small;
    background: #b14343;
    padding: 5px 15px;
    text-align: left;
}

td.valuenotrun {
    font-size: small;
    color: black;
    background: #626262;
    padding: 5px 15px;
    text-align: left;
}
